{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
						<h5 class="text-white op-7 mb-2">Mini Project</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-4">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-primary bubble-shadow-small">
										<i class="flaticon-users"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Total Candidates</p>
										<h4 class="card-title">{{total_candidates}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-primary bubble-shadow-small">
										<i class="flaticon-list"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Total Candidates Experiences</p>
										<h4 class="card-title">{{total_candidates_exp}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="col-md-4">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-icon">
									<div class="icon-big text-center icon-primary bubble-shadow-small">
										<i class="flaticon-agenda"></i>
									</div>
								</div>
								<div class="col col-stats ml-3 ml-sm-0">
									<div class="numbers">
										<p class="card-category">Total Candidates Skills</p>
										<h4 class="card-title">{{total_candidates_skill}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">		
						<div class="card-header">
							<div class="card-title">Data Scientist By Location</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								{{location_pie_chart|safe}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">		
						<div class="card-header">
							<div class="card-title">Top 20 Skills</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								{{skill_top_30_bar_chart|safe}}
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">		
						<div class="card-header">
							<div class="card-title">Total Skills Distribution</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								{{skill_histogram_chart|safe}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">		
						<div class="card-header">
							<div class="card-title">Candidates Education Word Cloud</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<div id="skill-wc-container" style='display:none'></div>
								<canvas id="skill-wc" width="600" height="400" style='width:100%;height:auto'></canvas>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>

	<script>	
		const eduWords = JSON.parse("{{ educations | escapejs }}".replace(/'/g,'"'));
		const config = {list : eduWords.data};
	    WordCloud([
		    document.getElementById('skill-wc'),
		     document.getElementById('skill-wc-container')
		  ], config);

	</script>

{% endblock javascripts %}
